.titlebar {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: var(--titlebar-height);
    border-bottom: 1px solid var(--color-primary-100);
    background: var(--color-background);
    app-region: drag;
    z-index: 999;
}

.titlebar .title {
    display: flex;
    align-items: center;
    color: var(--color-primary);
    font-weight: 700;
}

.titlebar .title .btn {
    width: var(--titlebar-height);
    height: var(--titlebar-height);
    app-region: none;
}

.titlebar .title .btn:hover {
    background: var(--color-primary-100);
}

.titlebar .title .btn .icon {
    width: var(--titlebar-height);
    height: var(--titlebar-height);
    background: var(--color-primary-500);
    transform: scale(1);
}

.titlebar .title .btn:hover .icon {
    background: var(--color-primary);
}

.back .icon {
    mask: url('../../assets/icons/back.svg') no-repeat center;
    transform: scale(.7);
}

.add .icon {
    mask: url('../../assets/icons/add.svg') no-repeat center;
    transform: scale(.7);
}

.titlebar .title p {
    padding-left: 10px;
}

.titlebar .actions {
    display: flex;
    align-items: center;
    app-region: none;
    background: var(--color-background-100);
}

.titlebar .actions .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: var(--titlebar-height);
}

.titlebar .actions .btn:hover {
    background: var(--color-primary-100);
}

.titlebar .actions .btn .icon {
    display: flex;
    width: 15px;
    height: 15px;
    background: var(--color-primary-500);
}

.titlebar .actions .btn:hover .icon {
    background: var(--color-primary);
}

.btn.close:hover {
    background: var(--color-close)!important;
}

.btn.minimize .icon {
    mask: url('../../assets/icons/minimize.svg') no-repeat center;
    transform: scale(.6);
}

.btn.maximize .icon {
    mask: url('../../assets/icons/maximize.svg') no-repeat center;
    width: 18px!important;
    height: 18px!important;
    transform: scale(.6);
}

.btn.close .icon {
    mask: url('../../assets/icons/close.svg') no-repeat center;
    transform: scale(.7);
}